:root {
    --light: #E7FBB4;
    --darkGreen: rgb(99, 140, 109);
    --lightOrange: #DF6D2D;
    --orange: #C84C05;
}

.nag {
    font-family: 'Nagaiya', sans-serif !important;
}

.magic-growing {
    font-family: 'Magic Growing', sans-serif !important;
}