:root {
    --light: #E7FBB4;
    --darkGreen: #638C6D;
    --lightOrange: #DF6D2D;
    --orange: #C84C05;
}

body {
    background-color: var(--light) !important;
}

.nag {
    font-family: 'Nagaiya', sans-serif !important;
}

.magic-growing {
    font-family: 'Magic Growing', sans-serif !important;
}

.para {

    font-weight: bolder !important;
    color: var(--lightOrange) !important;
    font-size: 1.5rem;
}

.Heading {
    color: var(--orange);
    font-size: 5rem;

}

.homeButton {
    background-color: var(--darkGreen) !important;
    color: var(--light);
    border: 0px;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;

}

.button{
    margin:0;
    padding: 0;
    display: inline-block;
}



