:root {
    --light: #E7FBB4;
    --darkGreen: rgb(73, 102, 80);
    --lightOrange: #f5935b;
    --orange: #C84C05;
    --mint: hwb(158 12% 81%);
    --cream: #222e25;
    --coral: #ff9770;
    --dark: rgb(47, 59, 61);

}

.firstPage {
    background-color: var(--light);
    height: 100vh;
    background-image: linear-gradient(#1749224b 1px, transparent 1px), linear-gradient(to right, #1749224b 1px, transparent 1px);
    background-size: 120px 120px;

}

.navfont {
    font-size: 3.5rem;
}

.menubar {
    /* semi-transparent background */
    color: black;
    letter-spacing: 0.2rem;

}

.menuSearch {
    background-color: #74717113;
    border: none;
    border-radius: 0.6rem;
    outline: none;
    height: 3rem;
    padding-left: 0.7rem;
    color: black;
    font-family: 'Nagaiya', sans-serif !important;
    font-weight: bolder;
    letter-spacing: 0.15rem;
    width: 100%;
    font-size: 1.5rem !important;
    padding-right: 2.6rem;
    box-shadow: inset 1px 1px 20px 0px rgba(0, 0, 0, 0.082), inset -1px -1px 0px 0px rgba(255, 255, 255, 0.082)
}

.menuSearch::placeholder {
    padding-left: 0.2rem;
    color: #00000067;
    font-size: 1.2rem;
}

.input-container {
    position: relative;
    display: flex;
}

.input-container svg {
    position: absolute;
    right: 14px;
    top: 25%;
}

.menu-icons {
    line-height: 0rem;
}

.menu-icons i {
    font-size: 5rem;
    position: relative;
    color: var(--darkGreen);
    cursor: pointer;
}

.list-background {
    border-radius: 0px 14px 14px 0px;
    color: rgb(255, 255, 255);

    z-index: 100;
    box-shadow:
        inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
    background-color: #19411f91;
    
}


.task-background {
    border-radius: 0px 14px 14px 0px;
    color: rgb(255, 255, 255);
    border-radius: 28px;
    min-height: 70vh;
    box-shadow:
        inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
    background-color: var(--orange);
    opacity: 0.5;
}




.listfont {
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: var(--light);
    cursor: pointer;
    font-size:clamp(2rem, calc(6vh+1.5rem), 2rem) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wrapper {
    width: 100%;
    gap: 2rem;
}
